[Desktop Entry]
Name=TicTacToe.AI
GenericName=Game
Comment=TicTacToe game with AI
Keywords=game;alemdarCorp;tictactoe;
Exec=TicTacToe.AI
Icon=org.alemdarCorp.TicTacToe.AI
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
Actions=Configure;Capture;Launcher;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.alemdarCorp.TicTacToe.AI
X-KDE-DBUS-Restricted-Interfaces=org_kde_kwin_effect-screenshot

[Desktop Action Configure]
Name=Configure
Exec=TicTacToe.AI config

[Desktop Action Capture]
Name=Take screenshot
Exec=TicTacToe.AI gui --delay 500

[Desktop Action Launcher]
Name=Open launcher
Exec=TicTacToe.AI launcher
